{% extends "layout.html" %}

{% block title %}
    Show History
{% endblock %}

{% block main %}
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Comment</th>
                    <th scope="col">Timestamp</th>
                </tr>
            </thead>
              <tbody>
                    <tr>

                    {% for show in show_history %}
                        <td>{{ show.title }}</td>
                        <td>{{ show.rating }}</td>
                        <td>{{ show.comment }}</td>
                        <td>{{ show.time }}</td>
                    </tr>
                    {% endfor %}
              </tbody>
        </table>
{% endblock %}