{% extends "layout.html" %}

{% block title %}
    Rate A Show
{% endblock %}

{% block main %}

    <form action="/rate" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="title" placeholder="Title" type="text" required = "required">
        </div>
        <div class="input-group" style="width:190px; margin: auto;">
          <input type="number" class="form-control" placeholder="Rate" name="rate" min = "0" required = "required">
          <div class="input-group-append">
            <span class="input-group-text">out of 10</span>
          </div>
        </div>

        <div class="input-group" style="width:600px; padding-top: 20px; margin: auto;">
          <div class="input-group-prepend">
            <span class="input-group-text">Comment</span>
          </div>
          <textarea class="form-control" placeholder="Optional; Max Character Length: 200" maxlength="200" name = "comment"></textarea>
        </div>

        <button class="btn btn-primary" type="submit" style="margin-top:30px">Rate</button>
    </form>
{% endblock %}