<!-- helpful source for sending emails and forming email templates: https://pythonprogramming.net/flask-email-tutorial/ -->

<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
    <div>
      <p id="email-head">Hello {{ username }},</p>
      <p>A request has been made to change your password. If you did not make this request, please disregard this email. Any concerns can be directed to the site's developers at this email address.</p>
      <p>Temporary Password: <b>{{ temp }}</b></p>
      <p>Kind Regards,</p>
      <p>The WeebTube Team</p>
    </div>
  </body>
</html>